body{
    background-color: #BCDEE7;
}

div.container {
    margin-top: 7vh;
}

div.div-dashboard {
    background-color: rgb(250,250,250);
    padding: 10px;
}

#book {
    padding: 30px;
}

.link-appearence-dashboard {
    text-align: center;
}